.accordion {
    --bs-accordion-active-bg: transparent !important;
}

#segment-A1 {
    top: 21%;
    left: 1%;
    width: 26.5%;
    height: 45%;
}

#segment-A2 {
    top: 21%;
    left: 27.5%;
    width: 24.75%;
    height: 45%;
}

#segment-B1 {
    top: 21%;
    left: 52.25%;
    width: 24%;
    height: 45%;
}

#segment-B2 {
    top: 21%;
    left: 76.25%;
    width: 23%;
    height: 45%;
}

.btn-d {
    visibility: hidden !important;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
    background-color: transparent;
}

.segment-success:hover .btn-d {
    visibility: visible !important;
    opacity: 1;
    background-color: rgba(88, 189, 123, 0.3);
}

.segment-danger:hover .btn-d {
    visibility: visible !important;
    opacity: 1;
    background-color: rgba(184, 71, 67, 0.3);
}

.p-1px {
    padding: 1px;
}