.accordion {
    --bs-accordion-active-bg: transparent !important;
}

#segment-A1 {
    top: 75%;
    left: 9%;
    width: 80.5%;
    height: 10%;
}

#segment-A2 {
    top: 64%;
    left: 8.75%;
    width: 80.75%;
    height: 11%;
}

#segment-B1 {
    top: 54%;
    left: 8.75%;
    width: 80.75%;
    height: 10%;
}

#segment-B2 {
    top: 41.5%;
    left: 8.75%;
    width: 80.75%;
    height: 12.5%;
}

.btn-d {
    visibility: hidden !important;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
    background-color: transparent;
}

.segment-success:hover .btn-d {
    visibility: visible !important;
    opacity: 1;
    background-color: rgba(88, 189, 123, 0.3);
}

.segment-danger:hover .btn-d {
    visibility: visible !important;
    opacity: 1;
    background-color: rgba(184, 71, 67, 0.3);
}

.p-1px {
    padding: 1px;
}